*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("https://getwallpapers.com/wallpaper/full/5/3/2/1075218-dark-sky-wallpaper-1920x1080-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  
}

.weather{
  color: silver;
  text-align: center;
  width: 45%;
  float: left;
  /* background: url('./images/background.jpg'); */
  background-repeat: no-repeat;
  background-size: cover ;
  height: 100vh;
}

.weather .container {
  padding: 40px 20px;
  background-color: rgba(12, 4, 12, 0.8);
  height: 100vh;
}

.ThreeDays{
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: black;
  background: #111;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 30px 0;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: gold
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: gold;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.sub-container{
  background-color: rgba(12, 4, 12, 0.8);
  padding: 10px;
  box-shadow: 3px 3px 10px aliceblue;
  margin: 0 20px;
}

.exchange{
 margin-top: 400px;
 color: aliceblue;
 margin-left: 5px;
 padding: 0 260px;
 background-color: rgba(12, 4, 12, 0.8);
 width: 54vw;
 height: 30vh;
 text-align: center;
 /* background: url('./images/background.jpg'); */
  background-repeat: no-repeat;
  background-size: cover ;
}

.exchange h2{
  border-bottom: 1px solid white; 
}

.table{
  margin-top: 50px;
  padding: 30px;
  margin-top: 10px;
}

.table th{
  font-size: 20px;
  margin-right: 50px;
  background-color: gold;
  color: black;
  border-radius: 20px;
  padding: 10px;
  border: 5px solid black;
}